<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<div th:replace="~{fragments/navbar::navbar}">

</div>

<div class="container" th:object="${carAddBindingModel}">
  <h2 class="text-center text-white">Add Car</h2>
  <form
          th:action="@{/cars/add}"
          th:method="POST"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="row">

      <div class="form-group col-md-6 mb-3">
        <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
        <input type="text" th:field="*{brand}" th:errorclass="is-invalid" id="brand" name="brand" class="form-control" placeholder="Car Brand">
        <p class="invalid-feedback errors alert alert-danger">
          Vehicle brand is required.
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label class="text-center text-white font-weight-bold" for="model">Model</label>
        <input type="text" th:field="*{model}" th:errorclass="is-invalid" id="model" name="model" class="form-control" placeholder="Car Model">
        <p class="invalid-feedback errors alert alert-danger">
          Vehicle model is required.
        </p>
      </div>
    </div>



    <div class="row">

      <div class="form-group col-md-6 mb-3">
        <label class="text-center text-white font-weight-bold" for="plateNumber">Plate Number</label>
        <input type="text" th:field="*{plateNumber}" th:errorclass="is-invalid" id="plateNumber" name="plateNumber" class="form-control" placeholder="Registration number">
        <p class="invalid-feedback errors alert alert-danger">
          Plate number is required.
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="year" class="text-white font-weight-bold">Year</label>
        <input id="year" th:field="*{year}" th:errorclass="is-invalid"  type="number" min="1900" max="2099" step="1" class="form-control"
               placeholder="Manufacturing year"/>
        <p class="invalid-feedback errors alert alert-danger">
          Manufacturing year is required.
        </p>
      </div>

    </div>



    <div class="form-group">
      <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
      <input th:field="*{imageUrl}" th:errorclass="is-invalid" id="imageUrl"  type="url" class="form-control"
             placeholder="Put vehicle image URL here">
      <p class="invalid-feedback errors alert alert-danger">
        Vehicle image URL is required.
      </p>
    </div>

    <div class="form-group">
      <label class="text-white font-weight-bold" for="shortDescription">Description</label>
      <input name="shortDescription" th:errorclass="is-invalid" id="shortDescription"  type="text" class="form-control"
             placeholder="The description is optional">
      <p class="invalid-feedback errors alert alert-danger">
        The description is optional.
      </p>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Add Car"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer></footer>
</div>

</body>
</html>