<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<div th:replace="~{fragments/navbar::navbar}"></div>


<div class="container-fluid" th:object="${car}">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title">
                    Car Details and Events</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="|Brand - *{brand}|">Brand</span></div>
                    <div class="card-text"><span th:text="|Model - *{model}|">Model</span></div>
                    <div class="card-text"><span th:text="|Year - *{year}|">Year</span></div>
                    <div class="card-text"><span th:text="|Plate number - *{plateNumber}|">Plate number</span></div>
                    <div class="card-text"><span th:text="|Description - *{shortDescription}|">Description</span></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="row">
                    <a class="btn btn-link" th:href="@{/cars/{id}/edit(id=*{id})}">Update</a>

                    <form th:action="@{/cars/{id}(id=*{id})}" th:method="delete">
                        <input type="submit" class="btn btn-link" value="Delete">
                    </form>

                    <a class="btn btn-link" th:href="@{/cars/{id}/events(id=*{id})}">Events</a>
                </div>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>